body{
    background-color:#16365d;
    color: white;
    font-family: Arial;
   
}

h1{
    text-align: right;
    color: white;
}

.bul1{
    color: red;
    font-style: italic;
    
}
.bul3{
    color: rgb(228, 97, 228);
     font-weight: bold;
}

.par1{
    color: red;
    text-decoration: underline;
    font-weight: bold;
}

.head2{
    color: red;
    text-align: center;
}

.par2{
    text-align: center;
}

.par3{
    color: yellow;
    text-decoration: underline;
}
.par4{
    color: blue;
   
}
.par5{
    color: #39FF14;
    font-weight: bold;
}

.head3{
    text-align:left;
    background-color: black;
    border-top: 1px solid rgb(240, 84, 84);
    border-left:1px solid rgb(240, 84, 84);
    width: 50%;
    height: 60px;
    
}

.par6{
    color: blue;
    font-weight: bold;
}