.box{
    width: 100%;
    height: 100px;
    background-color: brown;
}
.box1{
    background-color: blue;
}
.box2{
    background-color: coral;
}
.box3{
    background-color: darkgoldenrod;
}
.container{
    display: flex;   
}
.container2{
    display: flex;
   
}
.box4{
    width: 50%;
    background-color: green;
}
.box5{
    background-color: purple;
}
.container3{
    display: flex;
    

}
.box6{
    height: 50%;
    background-color: yellow;
}
.box7{
    height: 50%;
    background-color: red;
}
.container4{
    display: flex;
    flex-direction: column;
    width:100%;
}
.box8{
    background-color: lightblue;
    width: 200%;
}