
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');


body {
    background-image: url("images/flower.jpg");
    background-size: cover;
    
    
}

h1{
        color: red;
        background-color: black;
        border-right:2px dashed red;
        border-right:2px dashed red;
        padding-top: 50px;
        text-align: center;
        width: 25%;
        font-family: "Pacifico", cursive;
        
}

p{
    
        color: blue
        font-weitght: bold;
        font-style: italic;
}   

.myspan{
    color: purple;
   text-decoration: underline;
   
}
.par1{
    color: green;
}